{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <!-- Page Title -->
    <title>{% block title %}Rayo - Digital Agency & Personal Portfolio{% endblock %}</title>

    {% include 'includes/meta.html' %}
    {% include 'includes/styles.html' %}
    {% block extra_head %}{% endblock %}
  </head>

  <body>
    {% include 'includes/menu.html' %}
    {% include 'includes/header.html' %}
    
    <main id="mxd-page-content">
      {% block content %}{% endblock %}
    </main>

    {% include 'includes/footer_scripts.html' %}
    {% include 'includes/footer.html' %}

    <!-- To Top Button Start -->
    <a href="#0" id="to-top" class="btn btn-to-top slide-up anim-no-delay">
      <i class="ph ph-arrow-up"></i>
    </a>
    <!-- To Top Button End -->

    {% block extra_js %}{% endblock %}
  </body>
</html>