{% load static i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:'en' }}">
  <head>
    <title>{% block title %}Andrey Egorov - Full-Stack Developer & Data Analyst | Portfolio{% endblock %}</title>
    <!-- Тема ДО загрузки стилей - предотвращает мигание -->
    <script>
      (function() {
        const theme = localStorage.getItem('template.theme') || 'dark';
        document.documentElement.setAttribute('color-scheme', theme);
      })();
    </script>
    {% include 'includes/meta.html' %}
    {% include 'includes/styles.html' %}
    {% block extra_head %}{% endblock %}
  </head>

  <body>
    {% include 'includes/menu.html' %}
    {% include 'includes/header.html' %}
    
    <main id="mxd-page-content">
      {% block content %}{% endblock %}
    </main>

    {% include 'includes/footer_scripts.html' %}
    {% include 'includes/footer.html' %}

    <!-- To Top Button Start -->
    <a href="#0" id="to-top" class="btn btn-to-top slide-up anim-no-delay">
      <i class="ph ph-arrow-up"></i>
    </a>
    <!-- To Top Button End -->

    {% block extra_js %}{% endblock %}


<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function(m,e,t,r,i,k,a){
        m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();
        for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
        k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)
    })(window, document,'script','https://mc.yandex.ru/metrika/tag.js', 'ym');

    ym(45898464, 'init', {webvisor:true, clickmap:true, ecommerce:"dataLayer", accurateTrackBounce:true, trackLinks:true});
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/45898464" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
  </body>
</html>