{% load static %}
      <!-- Main Navigation Start -->
      <div class="mxd-menu__wrapper">
        <!-- background active layer -->
        <div class="mxd-menu__base"></div>
        <!-- menu container -->
        <div class="mxd-menu__contain">
          <div class="mxd-menu__inner">
            <!-- left side -->
            <div class="mxd-menu__left">
              <p class="mxd-menu__caption menu-fade-in">🦄 Innovative design<br>and cutting-edge development</p>
              <div class="main-menu">
                <nav class="main-menu__content">
                  <ul id="main-menu" class="main-menu__accordion">
                    <li class="main-menu__item">
                      <div class="main-menu__toggle">
                        <span class="main-menu__link btn btn-anim">
                          <span class="btn-caption">Home</span>
                        </span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" version="1.1" viewBox="0 0 20 20">
                          <path d="M19.6,9.6h-3.9c-.4,0-1.8-.2-1.8-.2-.6,0-1.1-.2-1.6-.6-.5-.3-.9-.8-1.2-1.2-.3-.4-.4-.9-.5-1.4,0,0,0-1.1-.2-1.5V.4c0-.2-.2-.4-.4-.4s-.4.2-.4.4v4.4c0,.4-.2,1.5-.2,1.5,0,.5-.2,1-.5,1.4-.3.5-.7.9-1.2,1.2s-1,.5-1.6.6c0,0-1.2,0-1.7.2H.4c-.2,0-.4.2-.4.4s.2.4.4.4h4.1c.4,0,1.7.2,1.7.2.6,0,1.1.2,1.6.6.4.3.8.7,1.1,1.1.3.5.5,1,.6,1.6,0,0,0,1.3.2,1.7v4.1c0,.2.2.4.4.4s.4-.2.4-.4v-4.1c0-.4.2-1.7.2-1.7,0-.6.2-1.1.6-1.6.3-.4.7-.8,1.1-1.1.5-.3,1-.5,1.6-.6,0,0,1.3,0,1.8-.2h3.9c.2,0,.4-.2.4-.4s-.2-.4-.4-.4h0Z"/>
                        </svg>
                      </div>
                      <ul class="submenu">
                        <li class="submenu__item">
                          <a href="index-main.html">Main home</a>
                        </li>
                        <li class="submenu__item">
                          <a href="index-software-development-company.html">Software development company</a>
                        </li>
                        <li class="submenu__item">
                          <a href="index-freelancer-portfolio.html">Freelancer portfolio</a>
                        </li>
                        <li class="submenu__item">
                          <a href="index-digital-agency.html">Digital agency</a>
                        </li>
                        <li class="submenu__item">
                          <a href="index-creative-design-studio.html">Creative design studio</a>
                        </li>
                        <li class="submenu__item active">
                          <a href="index-personal-portfolio.html">Personal portfolio</a>
                        </li>
                        <li class="submenu__item">
                          <a href="index-web-agency.html">Web agency</a>
                        </li>
                        <li class="submenu__item">
                          <a href="index-creative-developer.html">Creative developer</a>
                        </li>
                        <li class="submenu__item">
                          <a href="index-designer.html">Designer</a>
                        </li>
                      </ul>
                    </li>
                    <li class="main-menu__item">
                      <div class="main-menu__toggle">
                        <span class="main-menu__link btn btn-anim">
                          <span class="btn-caption">Works</span>
                        </span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" version="1.1" viewBox="0 0 20 20">
                          <path d="M19.6,9.6h-3.9c-.4,0-1.8-.2-1.8-.2-.6,0-1.1-.2-1.6-.6-.5-.3-.9-.8-1.2-1.2-.3-.4-.4-.9-.5-1.4,0,0,0-1.1-.2-1.5V.4c0-.2-.2-.4-.4-.4s-.4.2-.4.4v4.4c0,.4-.2,1.5-.2,1.5,0,.5-.2,1-.5,1.4-.3.5-.7.9-1.2,1.2s-1,.5-1.6.6c0,0-1.2,0-1.7.2H.4c-.2,0-.4.2-.4.4s.2.4.4.4h4.1c.4,0,1.7.2,1.7.2.6,0,1.1.2,1.6.6.4.3.8.7,1.1,1.1.3.5.5,1,.6,1.6,0,0,0,1.3.2,1.7v4.1c0,.2.2.4.4.4s.4-.2.4-.4v-4.1c0-.4.2-1.7.2-1.7,0-.6.2-1.1.6-1.6.3-.4.7-.8,1.1-1.1.5-.3,1-.5,1.6-.6,0,0,1.3,0,1.8-.2h3.9c.2,0,.4-.2.4-.4s-.2-.4-.4-.4h0Z"/>
                        </svg>
                      </div>
                      <ul class="submenu">
                        <li class="submenu__item">
                          <a href="works-simple.html">Portfolio</a>
                        </li>
                        <li class="submenu__item">
                          <a href="works-masonry.html">Works masonry</a>
                        </li>
                        <li class="submenu__item">
                          <a href="project-details.html">Project details</a>
                        </li>
                      </ul>
                    </li>
                    <li class="main-menu__item">
                      <div class="main-menu__toggle">
                        <span class="main-menu__link btn btn-anim">
                          <span class="btn-caption">Pages</span>
                        </span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" version="1.1" viewBox="0 0 20 20">
                          <path d="M19.6,9.6h-3.9c-.4,0-1.8-.2-1.8-.2-.6,0-1.1-.2-1.6-.6-.5-.3-.9-.8-1.2-1.2-.3-.4-.4-.9-.5-1.4,0,0,0-1.1-.2-1.5V.4c0-.2-.2-.4-.4-.4s-.4.2-.4.4v4.4c0,.4-.2,1.5-.2,1.5,0,.5-.2,1-.5,1.4-.3.5-.7.9-1.2,1.2s-1,.5-1.6.6c0,0-1.2,0-1.7.2H.4c-.2,0-.4.2-.4.4s.2.4.4.4h4.1c.4,0,1.7.2,1.7.2.6,0,1.1.2,1.6.6.4.3.8.7,1.1,1.1.3.5.5,1,.6,1.6,0,0,0,1.3.2,1.7v4.1c0,.2.2.4.4.4s.4-.2.4-.4v-4.1c0-.4.2-1.7.2-1.7,0-.6.2-1.1.6-1.6.3-.4.7-.8,1.1-1.1.5-.3,1-.5,1.6-.6,0,0,1.3,0,1.8-.2h3.9c.2,0,.4-.2.4-.4s-.2-.4-.4-.4h0Z"/>
                        </svg>
                      </div>
                      <ul class="submenu">
                        <li class="submenu__item">
                          <a href="about-me.html">About me</a>
                        </li>
                        <li class="submenu__item">
                          <a href="about-us.html">About us</a>
                        </li>
                        <li class="submenu__item">
                          <a href="services.html">Services</a>
                        </li>
                        <li class="submenu__item">
                          <a href="team.html">Our team</a>
                        </li>
                        <li class="submenu__item">
                          <a href="pricing.html">Pricing</a>
                        </li>
                        <li class="submenu__item">
                          <a href="faq.html">FAQ page</a>
                        </li>
                        <li class="submenu__item">
                          <a href="404.html">404 error page</a>
                        </li>
                        <li class="submenu__item">
                          <a href="index.html">Landing page</a>
                        </li>
                      </ul>
                    </li>
                    <li class="main-menu__item">
                      <div class="main-menu__toggle">
                        <span class="main-menu__link btn btn-anim">
                          <span class="btn-caption">Insights</span>
                        </span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" version="1.1" viewBox="0 0 20 20">
                          <path d="M19.6,9.6h-3.9c-.4,0-1.8-.2-1.8-.2-.6,0-1.1-.2-1.6-.6-.5-.3-.9-.8-1.2-1.2-.3-.4-.4-.9-.5-1.4,0,0,0-1.1-.2-1.5V.4c0-.2-.2-.4-.4-.4s-.4.2-.4.4v4.4c0,.4-.2,1.5-.2,1.5,0,.5-.2,1-.5,1.4-.3.5-.7.9-1.2,1.2s-1,.5-1.6.6c0,0-1.2,0-1.7.2H.4c-.2,0-.4.2-.4.4s.2.4.4.4h4.1c.4,0,1.7.2,1.7.2.6,0,1.1.2,1.6.6.4.3.8.7,1.1,1.1.3.5.5,1,.6,1.6,0,0,0,1.3.2,1.7v4.1c0,.2.2.4.4.4s.4-.2.4-.4v-4.1c0-.4.2-1.7.2-1.7,0-.6.2-1.1.6-1.6.3-.4.7-.8,1.1-1.1.5-.3,1-.5,1.6-.6,0,0,1.3,0,1.8-.2h3.9c.2,0,.4-.2.4-.4s-.2-.4-.4-.4h0Z"/>
                        </svg>
                      </div>
                      <ul class="submenu">
                        <li class="submenu__item">
                          <a href="blog-standard.html">Blog standard</a>
                        </li>
                        <li class="submenu__item">
                          <a href="blog-creative.html">Blog creative</a>
                        </li>
                        <li class="submenu__item">
                          <a href="blog-article.html">Single post</a>
                        </li>
                      </ul>
                    </li>
                    <li class="main-menu__item">
                      <a class="main-menu__link btn btn-anim" href="contact.html">
                        <span class="btn-caption">Contact</span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
            <!-- right side -->
            <div class="mxd-menu__right">
              <div class="menu-promo">
                <div class="menu-promo__content">
                  <p class="menu-promo__caption menu-fade-in">👋 Nice to see you!<br>I'm Alex Walker, digital 
                    designer and illustrator based in Odesa, Ukraine</p>
                  <div class="menu-promo__video">
                    <video class="menu-video" id="inner-video" preload="auto" autoplay="autoplay" loop="loop" muted="muted" poster="https://dummyimage.com/540x310/5d5d5d/737373">
                      <source type="video/mp4" src="video/540x310_video.mp4">
                      <source type="video/webm" src="video/540x310_video.webm">
                      <source type="video/ogv" src="video/540x310_video.ogv">
                    </video>
                  </div>
                </div>
              </div>
            </div>
            <!-- data bottom line -->
            <div class="mxd-menu__data menu-fade-in">
              <p class="t-xsmall">
                Made with
                <i class="ph-fill ph-heart t-additional"></i>
                by
                <a class="no-effect" href="https://1.envato.market/EKA9WD" target="_blank">Mix_Design</a>
              </p>
              <p class="t-xsmall">
                <i class="ph ph-copyright"></i>
                2025
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- Main Navigation End -->

    </nav>
    <!-- Menu & Menu Hamburger End -->