{% load static %}
<!-- Menu & Menu Hamburger Start -->
<nav class="mxd-nav__wrap" data-lenis-prevent="">

  <!-- Hamburger Start -->
  <div class="mxd-nav__contain loading__fade">
    <a href="#0" class="mxd-nav__hamburger">
      <!-- flip element -->
      <div class="hamburger__base"></div>
      <div class="hamburger__line"></div>
      <div class="hamburger__line"></div>
    </a>
  </div>
  <!-- Hamburger End -->

  <!-- Main Navigation Start -->
  <div class="mxd-menu__wrapper">
    <!-- background active layer -->
    <div class="mxd-menu__base"></div>
    <!-- menu container -->
    <div class="mxd-menu__contain">
      <div class="mxd-menu__inner">
        <!-- left side -->
        <div class="mxd-menu__left">
          <p class="mxd-menu__caption menu-fade-in">🦄 Innovative design<br>and cutting-edge development</p>
          <div class="main-menu">
            <nav class="main-menu__content">
              <ul id="main-menu" class="main-menu__accordion">
                <li class="main-menu__item">
                  <a class="main-menu__link btn btn-anim" href="{% url 'index' %}">
                    <span class="btn-caption">Home</span>
                  </a>
                </li>
                <li class="main-menu__item">
                  <a class="main-menu__link btn btn-anim" href="{% url 'projects' %}">
                    <span class="btn-caption">Projects</span>
                  </a>
                </li>
                <li class="main-menu__item">
                  <a class="main-menu__link btn btn-anim" href="{% url 'blog' %}">
                    <span class="btn-caption">Blog</span>
                  </a>
                </li>
                <li class="main-menu__item">
                  <a class="main-menu__link btn btn-anim" href="{% url 'contacts' %}">
                    <span class="btn-caption">Contact</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- right side -->
        <div class="mxd-menu__right">
          <div class="menu-promo">
            <div class="menu-promo__content">
              <p class="menu-promo__caption menu-fade-in">👋 Nice to see you!<br>I'm Andrey Egorov, Full-Stack Developer based in Milan</p>
            </div>
          </div>
        </div>
        <!-- data bottom line -->
        <div class="mxd-menu__data menu-fade-in">
          <p class="t-xsmall">Andrey Egorov</p>
          <p class="t-xsmall"><i class="ph ph-copyright"></i> 2025</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Main Navigation End -->

</nav>
<!-- Menu & Menu Hamburger End -->