{% load static %}
<!-- Meta Tags -->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="Elevate your digital presence with Rayo - dynamic and stylish HTML template designed for creative agencies and personal brands. With modern layouts, smooth interactions and a polished aesthetic, Rayo template helps showcase projects, services and expertise with clarity and impact.">
<meta name="keywords" content="mix_design, resume, portfolio, personal page, cv, template, one page, responsive, html5, css3, creative, clean">
<meta name="author" content="mix_design">

<!-- Template Favicon & Icons Start -->
<link rel="icon" href="{% static 'img/favicon/favicon.ico' %}" sizes="any">
<link rel="icon" href="{% static 'img/favicon/icon.svg' %}" type="image/svg+xml">
<link rel="apple-touch-icon" href="{% static 'img/favicon/apple-touch-icon.png' %}">
<link rel="manifest" href="{% static 'img/favicon/manifest.webmanifest' %}">
<!-- Template Favicon & Icons End -->

<!-- Facebook Metadata Start -->
<meta property="og:image:height" content="1200">
<meta property="og:image:width" content="1200">
<meta property="og:title" content="Rayo - Digital Agency & Personal Portfolio HTML Template">
<meta property="og:description" content="Elevate your digital presence with Rayo - dynamic and stylish HTML template designed for creative agencies and personal brands. With modern layouts, smooth interactions and a polished aesthetic, Rayo template helps showcase projects, services and expertise with clarity and impact.">
<meta property="og:url" content="https://mixdesign.dev/themeforest/rayo">
<meta property="og:image" content="https://mixdesign.dev/themeforest/rayo/img/og-image.jpg">
<!-- Facebook Metadata End -->

<!-- Custom Browser Color Start -->
<meta name="theme-color" media="(prefers-color-scheme: light)" content="#FAF7F6">
<meta name="theme-color" media="(prefers-color-scheme: dark)" content="#161616">
<meta name="msapplication-navbutton-color" content="#161616">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<!-- Custom Browser Color End -->