{% load static %}
<!-- Section - About Start -->
<div class="mxd-section padding-default">
  <div class="mxd-container grid-container">
  
    <!-- Block - About Description with Manifest Start -->
    <div class="mxd-block">
      <div class="container-fluid px-0">
        <div class="row gx-0 d-xl-flex justify-content-xl-center">
          <div class="col-12 col-xl-8 mxd-grid-item no-margin">
            <div class="mxd-block__content">
              <div class="mxd-block__manifest centered anim-uni-in-up">
                <p class="mxd-manifest mxd-manifest-l reveal-type">Combining enterprise SAP expertise with modern 
                  web development to create innovative solutions. Passionate about clean code, efficient systems, 
                  and continuous learning in the ever-evolving tech landscape.</p>
                <div class="mxd-manifest__controls anim-uni-in-up">
                  <div class="mxd-btngroup centered">
                    <a class="btn btn-anim btn-default btn-accent slide-right-up" href="#projects">
                      <span class="btn-caption">View Projects</span>
                      <i class="ph-bold ph-arrow-up-right"></i>
                    </a>
                    <a class="btn btn-anim btn-default btn-outline slide-down" href="#contact">
                      <span class="btn-caption">Get in Touch</span>
                      <i class="ph-bold ph-arrow-down"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Block - About Description with Manifest End -->

  </div>
</div>
<!-- Section - About End -->