{% load static %}
<!-- Hero Section Start -->
<div class="mxd-section">
  <div class="mxd-hero-09">
    <div class="mxd-hero-09__wrap loading-wrap">
      <div class="mxd-hero-09__headline">
        <div class="hero-09-headline__caption loading__item">
          <p>Full-Stack Developer, Data & Product Analyst based in Milan</p>
        </div>
        <div class="hero-09-headline__title loading__item">
          <h1 class="hero-09-headline__hidden">Andrey Egorov</h1>
          <span class="mxd-hero__text">andrey&nbsp;</span>
          <span class="mxd-hero__text2">egorov</span>
        </div>
        <div class="hero-09-headline__tags loading__fade">
          <span class="tag tag-default tag-outline">Python</span>
          <span class="tag tag-default tag-outline">React</span>
          <span class="tag tag-default tag-outline">Django</span>
          <span class="tag tag-default tag-outline">Data Analytics</span>
          <span class="tag tag-default tag-outline">Tableau</span>
          <span class="tag tag-default tag-outline">WordPress</span>
          <span class="tag tag-default tag-outline">SQL</span>
          <span class="tag tag-default tag-outline">JavaScript</span>
          <span class="tag tag-default tag-outline">HTML/CSS</span>
        </div>
      </div>
      <div class="mxd-hero-09__objects">
        <div class="hero-09-objects__image loading__item">
          <img class="mxd-move" src="{% static 'img/hero.webp' %}" alt="Andrey Egorov - Full-Stack Developer">
        </div>
        <div class="hero-09-objects__item item-01 loading__item">
          <div class="mxd-counter horizontal">
            <p id="stats-counter-1" class="mxd-counter__number mxd-stats-number xsmall">0</p>
            <p class="mxd-counter__descr t-140 t-bright t-small">Years of<br>experience</p>
          </div>
        </div>
        <div class="hero-09-objects__item item-02 loading__item">
          <div class="mxd-counter horizontal">
            <p id="stats-counter-2" class="mxd-counter__number mxd-stats-number xsmall">0</p>
            <p class="mxd-counter__descr t-140 t-bright t-small">Completed<br>projects</p>
          </div>
        </div>
        <div class="hero-09-objects__item item-03 loading__item">
          <div class="mxd-hero__mark">
            <span class="mark-icon"></span>
            <span class="mark-text">Open for opportunities</span>
          </div>
        </div>
      </div>
      <!-- scroll for more -->
      <div class="mxd-hero-09__more loading__fade">
        <a class="btn btn-line-default btn-anim slide-down" href="#projects">
          <span class="btn-caption">Explore my work</span>
          <i class="ph-bold ph-arrow-elbow-right-down"></i>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- Hero Section End -->