{% load static %}
<!-- Section - Services/Features Stacking Cards Start -->
<div class="mxd-section padding-stacked-section">
  <div class="mxd-container grid-container">

    <!-- Block - Services/Features Stacking Cards Start -->
    <div class="mxd-block mxd-grid-item no-margin">
      <div class="content__block">
        <div class="stack-wrapper">
          <div class="stack-offset"></div>
          <div class="services-stack">
            <!-- services stack single item -->
            <div class="stack-item">
              <div class="mxd-services-stack__inner justify-between bg-base-opp">
                <div class="mxd-services-stack__controls">
                  <a class="btn btn-round btn-round-large btn-additional slide-right-up anim-no-delay" href="#services">
                    <i class="ph ph-arrow-up-right"></i>
                  </a>
                </div>
                <div class="mxd-services-stack__title width-60">
                  <h3 class="opposite">Digital art and graphic design</h3>
                </div>
                <div class="mxd-services-stack__info width-60">
                  <div class="mxd-services-cards__tags">
                    <span class="tag tag-default tag-outline-opposite">UI/UX</span>
                    <span class="tag tag-default tag-outline-opposite">Web design</span>
                    <span class="tag tag-default tag-outline-opposite">Packaging</span>
                    <span class="tag tag-default tag-outline-opposite">Motion</span>
                    <span class="tag tag-default tag-outline-opposite">3D models</span>
                  </div>
                  <p class="t-opposite">We create visually compelling designs that enhance user experience. 
                    We make sure your brand's visuals resonate with your audience.</p>
                </div>
                <div class="services-stack__image">
                  <img class="service-img service-img-s" src="https://dummyimage.com/800x800/4d4d4d/838383" alt="Service/Feature Image">
                  <img class="service-img service-img-m" src="https://dummyimage.com/1000x1000/4d4d4d/838383" alt="Service/Feature Image">
                </div>
              </div>
            </div>
            <!-- services stack single item -->
            <div class="stack-item">
              <div class="mxd-services-stack__inner justify-between bg-accent">
                <div class="mxd-services-stack__controls">
                  <a class="btn btn-round btn-round-large btn-base slide-right-up anim-no-delay" href="#services">
                    <i class="ph ph-arrow-up-right"></i>
                  </a>
                </div>
                <div class="mxd-services-stack__title width-60">
                  <h3 class="opposite">Creative<br>development</h3>
                </div>
                <div class="mxd-services-stack__info width-60">
                  <div class="mxd-services-cards__tags">
                    <span class="tag tag-default tag-outline-opposite">Frontend</span>
                    <span class="tag tag-default tag-outline-opposite">Interactions</span>
                    <span class="tag tag-default tag-outline-opposite">Backend</span>
                    <span class="tag tag-default tag-outline-opposite">Mobile Apps</span>
                  </div>
                  <p class="t-opposite">We build high-performance websites and applications using 
                    modern technologies. Our solutions are designed to be scalable and functional for optimal performance.</p>
                </div>
                <div class="services-stack__image">
                  <img class="service-img service-img-s" src="https://dummyimage.com/800x800/4d4d4d/838383" alt="Service/Feature Image">
                  <img class="service-img service-img-m" src="https://dummyimage.com/1000x1000/4d4d4d/838383" alt="Service/Feature Image">
                </div>
              </div>
            </div>
            <!-- services stack single item -->
            <div class="stack-item">
              <div class="mxd-services-stack__inner radius-dark justify-between bg-base-tint">
                <div class="mxd-services-stack__controls">
                  <a class="btn btn-round btn-round-large btn-opposite slide-right-up anim-no-delay" href="#services">
                    <i class="ph ph-arrow-up-right"></i>
                  </a>
                </div>
                <div class="mxd-services-stack__title width-60">
                  <h3>Brand<br>identity</h3>
                </div>
                <div class="mxd-services-stack__info width-60">
                  <div class="mxd-services-cards__tags">
                    <span class="tag tag-default tag-outline">Brand strategy</span>
                    <span class="tag tag-default tag-outline">Logo design</span>
                    <span class="tag tag-default tag-outline">Guidelines</span>
                    <span class="tag tag-default tag-outline">Rebranding</span>
                  </div>
                  <p>From logo design to comprehensive brand strategies, we ensure your business stands 
                    out with a unique visual identity and consistent messaging across all touchpoints.</p>
                </div>
                <div class="services-stack__image">
                  <img class="service-img service-img-s" src="https://dummyimage.com/800x800/4d4d4d/838383" alt="Service/Feature Image">
                  <img class="service-img service-img-m" src="https://dummyimage.com/1000x1000/4d4d4d/838383" alt="Service/Feature Image">
                </div>
              </div>
            </div>
            <!-- services stack single item -->
            <div class="stack-item">
              <div class="mxd-services-stack__inner justify-between bg-base-opp">
                <div class="mxd-services-stack__controls">
                  <a class="btn btn-round btn-round-large btn-additional slide-right-up anim-no-delay" href="#services">
                    <i class="ph ph-arrow-up-right"></i>
                  </a>
                </div>
                <div class="mxd-services-stack__title width-60">
                  <h3 class="opposite">Digital marketing<br>solutions</h3>
                </div>
                <div class="mxd-services-stack__info width-60">
                  <div class="mxd-services-cards__tags">
                    <span class="tag tag-default tag-outline-opposite">Strategy</span>
                    <span class="tag tag-default tag-outline-opposite">Social media</span>
                    <span class="tag tag-default tag-outline-opposite">SEO</span>
                    <span class="tag tag-default tag-outline-opposite">Optimization</span>
                    <span class="tag tag-default tag-outline-opposite">Campaigns</span>
                  </div>
                  <p class="t-opposite">SEO and content marketing, social media management and paid 
                    campaigns - we help you reach and engage your target audience effectively.</p>
                </div>
                <div class="services-stack__image">
                  <img class="service-img service-img-s" src="https://dummyimage.com/800x800/4d4d4d/838383" alt="Service/Feature Image">
                  <img class="service-img service-img-m" src="https://dummyimage.com/1000x1000/4d4d4d/838383" alt="Service/Feature Image">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Block - Services/Features Stacking Cards End -->

  </div>
</div>
<!-- Section - Services/Features Stacking Cards End -->