{% extends 'base/base.html' %}
{% load static %}
{% block title %}Главная{% endblock %}
{% block content %}
    <!-- Loader Start -->
    <div id="loader" class="loader">
      <div class="loader__wrapper">
        <div class="loader__content">
          <div class="loader__count">
            <span class="count__text">0</span>
            <span class="count__percent">%</span>
          </div>
        </div>
      </div>
    </div>
    <!-- Loader End -->

    <!-- Menu & Menu Hamburger Start -->
    <nav class="mxd-nav__wrap" data-lenis-prevent="">

      <!-- Hamburger Start -->
      <div class="mxd-nav__contain loading__fade">
        <a href="#main" class="mxd-nav__hamburger">
          <!-- flip element -->
          <div class="hamburger__base"></div>
          <div class="hamburger__line"></div>
          <div class="hamburger__line"></div>
        </a>
      </div>
      <!-- Hamburger End -->
    </nav>
    <!-- Menu & Menu Hamburger End -->

    <!-- Page Content Start -->
    <main id="mxd-page-content" class="mxd-page-content">

      <!-- Hero Section Start -->
      <div class="mxd-section">
        <div class="mxd-hero-09">
          <div class="mxd-hero-09__wrap loading-wrap">
            <div class="mxd-hero-09__headline">
              <div class="hero-09-headline__caption loading__item">
                <p>Award-winning creative projects, over ten years of digital experience.</p>
              </div>
              <div class="hero-09-headline__title loading__item">
                <h1 class="hero-09-headline__hidden">Alex Walker</h1>
                <svg class="hero-09-svg-mobile" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  viewBox="0 0 153.2 74.1" style="enable-background:new 0 0 153.2 74.1;" xml:space="preserve">
                <path d="M9.7,34c-2.8,0-5-0.7-6.6-2c-1.6-1.4-2.4-3.2-2.4-5.4c0-2.3,0.8-4.2,2.4-5.4c1.6-1.3,3.9-1.9,7-1.9h7.3v-1
                  c0-2.9-1.7-4.4-5.1-4.4c-2.9,0-4.7,1-5.2,3.1h-6c0.5-2.6,1.7-4.5,3.6-5.9c1.9-1.3,4.4-2,7.6-2c3.5,0,6.2,0.8,8,2.4
                  c1.8,1.6,2.8,3.9,2.8,6.9v9.2H26v6h-6.1v-3.8h-1.7c-0.8,1.4-1.9,2.4-3.3,3.2S11.7,34,9.7,34z M10.6,29.4c1.3,0,2.5-0.2,3.5-0.7
                  c1-0.5,1.9-1.2,2.5-2c0.6-0.8,0.9-1.8,0.9-2.8v-0.6h-7c-2.7,0-4,1-4,3c0,1,0.4,1.8,1.1,2.3C8.2,29.2,9.3,29.4,10.6,29.4z M30.6,33.6
                  V0h6v33.6H30.6z M53.6,34.1c-2.6,0-4.8-0.5-6.7-1.5c-1.9-1-3.4-2.5-4.4-4.4c-1-1.9-1.5-4.1-1.5-6.7s0.5-4.8,1.5-6.6
                  c1-1.9,2.5-3.3,4.3-4.3c1.9-1,4.1-1.5,6.6-1.5c2.5,0,4.6,0.5,6.3,1.4c1.8,0.9,3.1,2.3,4.1,4.1c1,1.8,1.4,3.9,1.4,6.3V23H46.7
                  c0.2,2,1,3.6,2.1,4.7c1.2,1.1,2.8,1.6,4.7,1.6c1.5,0,2.7-0.3,3.6-0.8s1.6-1.4,1.9-2.5h6c-0.6,2.5-1.8,4.5-3.9,5.9
                  C59.2,33.4,56.7,34.1,53.6,34.1z M46.8,19h12.6c-0.2-1.7-0.8-2.9-1.9-3.8c-1.1-0.9-2.5-1.3-4.2-1.3c-1.7,0-3.2,0.4-4.3,1.3
                  S47.2,17.3,46.8,19z M66.2,33.6l9.4-12.3L66.7,9.6h6.6l5.8,7.6l5.8-7.6h6.6l-8.9,11.7l9.4,12.3h-6.7L79,25.4l-6.2,8.2H66.2z
                  M7.7,73.6L0,49.6h6.1l5,16.6h0.2l5.9-16.6H23l5.9,16.6h0.2l5-16.6h6l-7.7,24h-6.4l-5.9-16.3H20l-5.9,16.3H7.7z M50.5,74
                  c-2.8,0-5-0.7-6.6-2c-1.6-1.4-2.4-3.2-2.4-5.4c0-2.3,0.8-4.2,2.4-5.4c1.6-1.3,3.9-1.9,7-1.9h7.3v-1c0-2.9-1.7-4.4-5.1-4.4
                  c-2.9,0-4.7,1-5.2,3.1h-6c0.5-2.6,1.7-4.5,3.6-5.9s4.4-2,7.6-2c3.5,0,6.2,0.8,8,2.4s2.8,3.9,2.8,6.9v9.2h2.8v6h-6.1v-3.8H59
                  c-0.8,1.4-1.9,2.4-3.3,3.2S52.5,74,50.5,74z M51.4,69.4c1.3,0,2.5-0.2,3.5-0.7c1-0.5,1.9-1.2,2.5-2c0.6-0.8,0.9-1.8,0.9-2.8v-0.6h-7
                  c-2.7,0-4,1-4,3c0,1,0.4,1.8,1.1,2.3C49.1,69.2,50.1,69.4,51.4,69.4z M71.4,73.6V40h6v33.6H71.4z M83.1,73.6V40h6v18.9h0.2l10.1-9.3
                  h7.1L96,59l11.3,14.6h-7l-8.4-10.9L89.1,65v8.6H83.1z M120.7,74.1c-2.6,0-4.8-0.5-6.7-1.5c-1.9-1-3.4-2.5-4.4-4.4s-1.5-4.1-1.5-6.7
                  c0-2.6,0.5-4.8,1.5-6.6c1-1.9,2.5-3.3,4.3-4.3c1.9-1,4.1-1.5,6.6-1.5c2.5,0,4.6,0.5,6.3,1.4s3.1,2.3,4.1,4.1c1,1.8,1.4,3.9,1.4,6.3
                  V63h-18.5c0.2,2,1,3.6,2.1,4.7c1.2,1.1,2.8,1.6,4.7,1.6c1.5,0,2.7-0.3,3.6-0.8s1.6-1.4,1.9-2.5h6c-0.6,2.5-1.8,4.5-3.9,5.9
                  C126.3,73.4,123.8,74.1,120.7,74.1z M114,59h12.6c-0.2-1.7-0.8-2.9-1.9-3.8c-1.1-0.9-2.5-1.3-4.2-1.3c-1.7,0-3.2,0.4-4.3,1.3
                  C115.1,56.1,114.3,57.3,114,59z M138.5,73.6v-18h-3v-6h6.1v4.6h1.7c0.7-1.6,1.7-2.8,3.1-3.6c1.4-0.8,3-1.2,4.8-1.2h2v5.1h-2.3
                  c-2.2,0-3.8,0.6-4.9,1.9c-1.1,1.3-1.6,2.9-1.6,5v12.2H138.5z"/>
                </svg>
                <svg class="hero-09-svg-desktop" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  viewBox="0 0 257.3 34.1" style="enable-background:new 0 0 257.3 34.1;" xml:space="preserve">
                <path d="M9,34c-2.8,0-5-0.7-6.6-2C0.8,30.6,0,28.8,0,26.6c0-2.3,0.8-4.2,2.4-5.4c1.6-1.3,3.9-1.9,7-1.9h7.3v-1
                  c0-2.9-1.7-4.4-5.1-4.4c-2.9,0-4.7,1-5.2,3.1h-6c0.5-2.6,1.7-4.5,3.6-5.9c1.9-1.3,4.4-2,7.6-2c3.5,0,6.2,0.8,8,2.4
                  c1.8,1.6,2.8,3.9,2.8,6.9v9.2h2.8v6h-6.1v-3.8h-1.7c-0.8,1.4-1.9,2.4-3.3,3.2C12.7,33.7,11,34,9,34z M9.8,29.4
                  c1.3,0,2.5-0.2,3.5-0.7c1-0.5,1.9-1.2,2.5-2c0.6-0.8,0.9-1.8,0.9-2.8v-0.6h-7c-2.7,0-4,1-4,3c0,1,0.4,1.8,1.1,2.3
                  C7.5,29.2,8.5,29.4,9.8,29.4z M29.8,33.6V0h6v33.6H29.8z M52.9,34.1c-2.6,0-4.8-0.5-6.7-1.5c-1.9-1-3.4-2.5-4.4-4.4
                  c-1-1.9-1.5-4.1-1.5-6.7s0.5-4.8,1.5-6.6c1-1.9,2.5-3.3,4.3-4.3c1.9-1,4.1-1.5,6.6-1.5c2.5,0,4.6,0.5,6.3,1.4
                  c1.8,0.9,3.1,2.3,4.1,4.1c1,1.8,1.4,3.9,1.4,6.3V23H46c0.2,2,1,3.6,2.1,4.7s2.8,1.6,4.7,1.6c1.5,0,2.7-0.3,3.6-0.8
                  c0.9-0.5,1.6-1.4,1.9-2.5h6c-0.6,2.5-1.8,4.5-3.9,5.9C58.5,33.4,55.9,34.1,52.9,34.1z M46.1,19h12.6c-0.2-1.7-0.8-2.9-1.9-3.8
                  c-1.1-0.9-2.5-1.3-4.2-1.3c-1.7,0-3.2,0.4-4.3,1.3S46.5,17.3,46.1,19z M65.5,33.6l9.4-12.3L66,9.6h6.6l5.8,7.6l5.8-7.6h6.6
                  l-8.9,11.7l9.4,12.3h-6.7l-6.2-8.2l-6.2,8.2H65.5z M111.9,33.6l-7.7-24h6.1l5,16.6h0.2l5.9-16.6h5.7l5.9,16.6h0.2l5-16.6h6l-7.7,24
                  h-6.4l-5.9-16.3h-0.2l-5.9,16.3H111.9z M154.7,34c-2.8,0-5-0.7-6.6-2c-1.6-1.4-2.4-3.2-2.4-5.4c0-2.3,0.8-4.2,2.4-5.4
                  c1.6-1.3,3.9-1.9,7-1.9h7.3v-1c0-2.9-1.7-4.4-5.1-4.4c-2.9,0-4.7,1-5.2,3.1h-6c0.5-2.6,1.7-4.5,3.6-5.9c1.9-1.3,4.4-2,7.6-2
                  c3.5,0,6.2,0.8,8,2.4c1.8,1.6,2.8,3.9,2.8,6.9v9.2h2.8v6h-6.1v-3.8h-1.7c-0.8,1.4-1.9,2.4-3.3,3.2C158.4,33.7,156.7,34,154.7,34z
                  M155.6,29.4c1.3,0,2.5-0.2,3.5-0.7c1-0.5,1.9-1.2,2.5-2c0.6-0.8,0.9-1.8,0.9-2.8v-0.6h-7c-2.7,0-4,1-4,3c0,1,0.4,1.8,1.1,2.3
                  C153.2,29.2,154.3,29.4,155.6,29.4z M175.6,33.6V0h6v33.6H175.6z M187.3,33.6V0h6v18.9h0.2l10.1-9.3h7.1L200.2,19l11.3,14.6h-7
                  L196,22.7l-2.8,2.3v8.6H187.3z M224.9,34.1c-2.6,0-4.8-0.5-6.7-1.5c-1.9-1-3.4-2.5-4.4-4.4s-1.5-4.1-1.5-6.7s0.5-4.8,1.5-6.6
                  c1-1.9,2.5-3.3,4.3-4.3c1.9-1,4.1-1.5,6.6-1.5c2.5,0,4.6,0.5,6.3,1.4c1.8,0.9,3.1,2.3,4.1,4.1c1,1.8,1.4,3.9,1.4,6.3V23H218
                  c0.2,2,1,3.6,2.1,4.7s2.8,1.6,4.7,1.6c1.5,0,2.7-0.3,3.6-0.8c0.9-0.5,1.6-1.4,1.9-2.5h6c-0.6,2.5-1.8,4.5-3.9,5.9
                  C230.5,33.4,227.9,34.1,224.9,34.1z M218.1,19h12.6c-0.2-1.7-0.8-2.9-1.9-3.8c-1.1-0.9-2.5-1.3-4.2-1.3c-1.7,0-3.2,0.4-4.3,1.3
                  C219.2,16.1,218.5,17.3,218.1,19z M242.7,33.6v-18h-3v-6h6.1v4.6h1.7c0.7-1.6,1.7-2.8,3.1-3.6c1.4-0.8,3-1.2,4.8-1.2h2v5.1H255
                  c-2.2,0-3.8,0.6-4.9,1.9c-1.1,1.3-1.6,2.9-1.6,5v12.2H242.7z"/>
                </svg>
              </div>
              <div class="hero-09-headline__tags loading__fade">
                <span class="tag tag-default tag-outline">Midjourney</span>
                <span class="tag tag-default tag-outline">AI</span>
                <span class="tag tag-default tag-outline">Editorial</span>
                <span class="tag tag-default tag-outline">Interactive design</span>
                <span class="tag tag-default tag-outline">Web experience</span>
                <span class="tag tag-default tag-outline">Web design</span>
                <span class="tag tag-default tag-outline">Branding</span>
                <span class="tag tag-default tag-outline">UI</span>
                <span class="tag tag-default tag-outline">UX</span>
                <span class="tag tag-default tag-outline">HTML</span>
                <span class="tag tag-default tag-outline">Frontend</span>
                <span class="tag tag-default tag-outline">Motion design</span>
                <span class="tag tag-default tag-outline">3d modeling</span>
                <span class="tag tag-default tag-outline">Video editing</span>
              </div>
            </div>
            <div class="mxd-hero-09__objects">
              <div class="hero-09-objects__image loading__item">
                <img class="mxd-move" src="https://dummyimage.com/900x1200/4d4d4d/838383" alt="Hero Image">
              </div>
              <div class="hero-09-objects__item item-01 loading__item">
                <div class="mxd-counter horizontal">
                  <p id="stats-counter-1" class="mxd-counter__number mxd-stats-number xsmall">0</p>
                  <p class="mxd-counter__descr t-140 t-bright t-small">Years of<br>experience</p>
                </div>
              </div>
              <div class="hero-09-objects__item item-02 loading__item">
                <div class="mxd-counter horizontal">
                  <p id="stats-counter-2" class="mxd-counter__number mxd-stats-number xsmall">0</p>
                  <p class="mxd-counter__descr t-140 t-bright t-small">Successful<br>projects</p>
                </div>
              </div>
              <div class="hero-09-objects__item item-03 loading__item">
                <div class="mxd-hero__mark">
                  <span class="mark-icon"></span>
                  <span class="mark-text">Available for freelance</span>
                </div>
              </div>
            </div>
            <!-- scroll for more -->
            <div class="mxd-hero-09__more loading__fade">
              <a class="btn btn-line-default btn-anim slide-down" href="#projects">
                <span class="btn-caption">Scroll for more</span>
                <i class="ph-bold ph-arrow-elbow-right-down"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- Hero Section End -->

      <!-- Section - Projects Pinned #02 Start -->
      <div id="projects" class="mxd-section padding-hero-09 padding-grid-pre-mtext">
        <div class="mxd-container grid-container">

          <!-- Block - Projects Pinned #01 with Section Title Start -->
          <div class="mxd-block">
            <div class="mxd-pinned-projects">
              <div class="container-fluid px-0">
                <div class="row gx-0">
                  <div class="col-12 col-xl-5 mxd-pinned-projects__static">
                    <div class="mxd-pinned-projects__static-inner no-margin">
    
                      <!-- Section Title Start -->
                      <div class="mxd-section-title no-margin-desktop">
                        <div class="container-fluid p-0">
                          <div class="row g-0">
                            <div class="col-12 mxd-grid-item no-margin">
                              <div class="mxd-section-title__title">
                                <h2 class="h2-large reveal-type">Projects</h2>
                              </div>
                            </div>
                            <!-- <div class="col-12 mxd-grid-item no-margin">
                              <div class="mxd-section-title__descr">
                                <p class="anim-uni-in-up">Explore a selection of projects blending<br>creativity with practical design</p>
                              </div>
                            </div> -->
                            <div class="col-12 mxd-grid-item no-margin">
                              <div class="mxd-section-title__controls anim-uni-in-up">
                                <a class="btn btn-anim btn-default btn-outline slide-right-up" href="works-simple.html">
                                  <span class="btn-caption">See All</span>
                                  <i class="ph-bold ph-arrow-up-right"></i>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Section Title Start -->
    
                    </div>
                  </div>
                  <div class="col-12 col-xl-7 mxd-pinned-projects__scroll">
                    <div class="mxd-pinned-projects__scroll-inner mxd-grid-item no-margin">
                      <!-- item -->
                      <div class="mxd-project-item">
                        <a class="mxd-project-item__media anim-uni-in-up" href="project-details.html">
                          <div class="mxd-project-item__preview preview-image-1 parallax-img-small"></div>
                          <div class="mxd-project-item__tags">
                            <span class="tag tag-default tag-permanent">UI/UX</span>
                            <span class="tag tag-default tag-permanent">Web design</span>
                            <span class="tag tag-default tag-permanent">Development</span>
                          </div>
                        </a>
                        <div class="mxd-project-item__promo">
                          <div class="mxd-project-item__name">
                            <a class="anim-uni-in-up" href="project-details.html"><span>Rayo template</span> creative studio solution</a>
                          </div>
                        </div>
                      </div>
                      <!-- item -->
                      <div class="mxd-project-item">
                        <a class="mxd-project-item__media anim-uni-in-up" href="project-details.html">
                          <div class="mxd-project-item__preview preview-image-7 parallax-img-small"></div>
                          <div class="mxd-project-item__tags">
                            <span class="tag tag-default tag-permanent">Midjourney</span>
                            <span class="tag tag-default tag-permanent">Editorial</span>
                          </div>
                        </a>
                        <div class="mxd-project-item__promo">
                          <div class="mxd-project-item__name">
                            <a class="anim-uni-in-up" href="project-details.html"><span>AI experiments</span> themed illustrations series</a>
                          </div>
                        </div>
                      </div>
                      <!-- item -->
                      <div class="mxd-project-item">
                        <a class="mxd-project-item__media anim-uni-in-up" href="project-details.html">
                          <div class="mxd-project-item__preview preview-image-4 parallax-img-small"></div>
                          <div class="mxd-project-item__tags">
                            <span class="tag tag-default tag-permanent">UI/UX</span>
                            <span class="tag tag-default tag-permanent">Mobile</span>
                          </div>
                        </a>
                        <div class="mxd-project-item__promo">
                          <div class="mxd-project-item__name">
                            <a class="anim-uni-in-up" href="project-details.html"><span>Delivery service</span> mobile app design</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Block - Projects Pinned #01 with Section Title Start -->

        </div>
      </div>
      <!-- Section - Projects Pinned #02 End -->

      <!-- Section - Marquee Text One Line Start -->
      <div class="mxd-section padding-mtext-pre-stack">
        <div class="mxd-container fullwidth-container">

          <!-- Block - Marquee Text One Line Start -->
          <div class="mxd-block">
            <div class="marquee marquee-right--gsap muted-extra">
              <div class="marquee__toright">
                <!-- single item -->
                <div class="marquee__item one-line item-regular text">
                  <p class="marquee__text">I Can Do Best</p>
                  <div class="marquee__image">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80" fill="currentColor">
                      <path fill="currentColor" d="M78.4,38.4c0,0-11.8,0-15.8,0c-1.6,0-4.8-0.2-7.1-0.8c-2.3-0.6-4.3-0.8-6.3-2.4c-2-1.2-3.5-3.2-4.7-4.8
                        c-1.2-1.6-1.6-3.6-2-5.5c-0.3-1.5-0.7-4.3-0.8-5.9c-0.2-4.3,0-17.4,0-17.4C41.8,0.8,41,0,40.2,0s-1.6,0.8-1.6,1.6c0,0,0,13.1,0,17.4
                        c0,1.6-0.6,4.3-0.8,5.9c-0.3,2-0.8,4-2,5.5c-1.2,2-2.8,3.6-4.7,4.8s-4,1.8-6.3,2.4c-1.9,0.5-4.7,0.6-6.7,0.8c-3.9,0.4-16.6,0-16.6,0
                        C0.8,38.4,0,39.2,0,40c0,0.8,0.8,1.6,1.6,1.6c0,0,12.2,0,16.6,0c1.6,0,4.8,0.3,6.7,0.8c2.3,0.6,4.3,0.8,6.3,2.4
                        c1.6,1.2,3.2,2.8,4.3,4.4c1.2,2,2.1,3.9,2.4,6.3c0.2,1.7,0.7,4.7,0.8,6.7c0.2,4,0,16.2,0,16.2c0,0.8,0.8,1.6,1.6,1.6
                        s1.6-0.8,1.6-1.6c0,0,0-12.3,0-16.2c0-1.6,0.5-5.1,0.8-6.7c0.5-2.3,0.8-4.4,2.4-6.3c1.2-1.6,2.8-3.2,4.3-4.4c2-1.2,3.9-2,6.3-2.4
                        c1.8-0.3,5.1-0.7,7.1-0.8c3.5-0.2,15.8,0,15.8,0c0.8,0,1.6-0.8,1.6-1.6C80,39.2,79.2,38.4,78.4,38.4C78.4,38.4,78.4,38.4,78.4,38.4z
                        "/>
                    </svg>
                  </div>
                </div>
                <!-- single item -->
                <div class="marquee__item one-line item-regular text">
                  <p class="marquee__text">I Can Do Best</p>
                  <div class="marquee__image">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80" fill="currentColor">
                      <path fill="currentColor" d="M78.4,38.4c0,0-11.8,0-15.8,0c-1.6,0-4.8-0.2-7.1-0.8c-2.3-0.6-4.3-0.8-6.3-2.4c-2-1.2-3.5-3.2-4.7-4.8
                        c-1.2-1.6-1.6-3.6-2-5.5c-0.3-1.5-0.7-4.3-0.8-5.9c-0.2-4.3,0-17.4,0-17.4C41.8,0.8,41,0,40.2,0s-1.6,0.8-1.6,1.6c0,0,0,13.1,0,17.4
                        c0,1.6-0.6,4.3-0.8,5.9c-0.3,2-0.8,4-2,5.5c-1.2,2-2.8,3.6-4.7,4.8s-4,1.8-6.3,2.4c-1.9,0.5-4.7,0.6-6.7,0.8c-3.9,0.4-16.6,0-16.6,0
                        C0.8,38.4,0,39.2,0,40c0,0.8,0.8,1.6,1.6,1.6c0,0,12.2,0,16.6,0c1.6,0,4.8,0.3,6.7,0.8c2.3,0.6,4.3,0.8,6.3,2.4
                        c1.6,1.2,3.2,2.8,4.3,4.4c1.2,2,2.1,3.9,2.4,6.3c0.2,1.7,0.7,4.7,0.8,6.7c0.2,4,0,16.2,0,16.2c0,0.8,0.8,1.6,1.6,1.6
                        s1.6-0.8,1.6-1.6c0,0,0-12.3,0-16.2c0-1.6,0.5-5.1,0.8-6.7c0.5-2.3,0.8-4.4,2.4-6.3c1.2-1.6,2.8-3.2,4.3-4.4c2-1.2,3.9-2,6.3-2.4
                        c1.8-0.3,5.1-0.7,7.1-0.8c3.5-0.2,15.8,0,15.8,0c0.8,0,1.6-0.8,1.6-1.6C80,39.2,79.2,38.4,78.4,38.4C78.4,38.4,78.4,38.4,78.4,38.4z
                        "/>
                    </svg>
                  </div>
                </div>
                <!-- single item -->
                <div class="marquee__item one-line item-regular text">
                  <p class="marquee__text">I Can Do Best</p>
                  <div class="marquee__image">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80" fill="currentColor">
                      <path fill="currentColor" d="M78.4,38.4c0,0-11.8,0-15.8,0c-1.6,0-4.8-0.2-7.1-0.8c-2.3-0.6-4.3-0.8-6.3-2.4c-2-1.2-3.5-3.2-4.7-4.8
                        c-1.2-1.6-1.6-3.6-2-5.5c-0.3-1.5-0.7-4.3-0.8-5.9c-0.2-4.3,0-17.4,0-17.4C41.8,0.8,41,0,40.2,0s-1.6,0.8-1.6,1.6c0,0,0,13.1,0,17.4
                        c0,1.6-0.6,4.3-0.8,5.9c-0.3,2-0.8,4-2,5.5c-1.2,2-2.8,3.6-4.7,4.8s-4,1.8-6.3,2.4c-1.9,0.5-4.7,0.6-6.7,0.8c-3.9,0.4-16.6,0-16.6,0
                        C0.8,38.4,0,39.2,0,40c0,0.8,0.8,1.6,1.6,1.6c0,0,12.2,0,16.6,0c1.6,0,4.8,0.3,6.7,0.8c2.3,0.6,4.3,0.8,6.3,2.4
                        c1.6,1.2,3.2,2.8,4.3,4.4c1.2,2,2.1,3.9,2.4,6.3c0.2,1.7,0.7,4.7,0.8,6.7c0.2,4,0,16.2,0,16.2c0,0.8,0.8,1.6,1.6,1.6
                        s1.6-0.8,1.6-1.6c0,0,0-12.3,0-16.2c0-1.6,0.5-5.1,0.8-6.7c0.5-2.3,0.8-4.4,2.4-6.3c1.2-1.6,2.8-3.2,4.3-4.4c2-1.2,3.9-2,6.3-2.4
                        c1.8-0.3,5.1-0.7,7.1-0.8c3.5-0.2,15.8,0,15.8,0c0.8,0,1.6-0.8,1.6-1.6C80,39.2,79.2,38.4,78.4,38.4C78.4,38.4,78.4,38.4,78.4,38.4z
                        "/>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Block - Marquee Text One Line End -->

        </div>
      </div>
      <!-- Section - Marquee Text One Line End -->

      <!-- Section - Services/Features Stacking Cards Start -->
      <div class="mxd-section padding-stacked-section">
        <div class="mxd-container grid-container">

          <!-- Block - Services/Features Stacking Cards Start -->
          <div class="mxd-block mxd-grid-item no-margin">
            <div class="content__block">
              <div class="stack-wrapper">
                <div class="stack-offset"></div>
                <div class="services-stack">
                  <!-- services stack single item -->
                  <div class="stack-item">
                    <div class="mxd-services-stack__inner justify-between bg-base-opp">
                      <div class="mxd-services-stack__controls">
                        <a class="btn btn-round btn-round-large btn-additional slide-right-up anim-no-delay" href="services.html">
                          <i class="ph ph-arrow-up-right"></i>
                        </a>
                      </div>
                      <div class="mxd-services-stack__title width-60">
                        <h3 class="opposite">Digital art and graphic design</h3>
                      </div>
                      <div class="mxd-services-stack__info width-60">
                        <div class="mxd-services-cards__tags">
                          <span class="tag tag-default tag-outline-opposite">UI/UX</span>
                          <span class="tag tag-default tag-outline-opposite">Web design</span>
                          <span class="tag tag-default tag-outline-opposite">Packaging</span>
                          <span class="tag tag-default tag-outline-opposite">Motion</span>
                          <span class="tag tag-default tag-outline-opposite">3D models</span>
                        </div>
                        <p class="t-opposite">We create visually compelling designs that enhance user experience. 
                          We make sure your brand's visuals resonate with your audience.</p>
                      </div>
                      <div class="services-stack__image">
                        <img class="service-img service-img-s" src="https://dummyimage.com/800x800/4d4d4d/838383" alt="Service/Feature Image">
                        <img class="service-img service-img-m" src="https://dummyimage.com/1000x1000/4d4d4d/838383" alt="Service/Feature Image">
                      </div>
                    </div>
                  </div>
                  <!-- services stack single item -->
                  <div class="stack-item">
                    <div class="mxd-services-stack__inner justify-between bg-accent">
                      <div class="mxd-services-stack__controls">
                        <a class="btn btn-round btn-round-large btn-base slide-right-up anim-no-delay" href="services.html">
                          <i class="ph ph-arrow-up-right"></i>
                        </a>
                      </div>
                      <div class="mxd-services-stack__title width-60">
                        <h3 class="opposite">Creative<br>development</h3>
                      </div>
                      <div class="mxd-services-stack__info width-60">
                        <div class="mxd-services-cards__tags">
                          <span class="tag tag-default tag-outline-opposite">Frontend</span>
                          <span class="tag tag-default tag-outline-opposite">Interactions</span>
                          <span class="tag tag-default tag-outline-opposite">Backend</span>
                          <span class="tag tag-default tag-outline-opposite">Mobile Apps</span>
                        </div>
                        <p class="t-opposite">We build high-performance websites and applications using 
                          modern technologies. Our solutions are designed to be scalable and functional for optimal performance.</p>
                      </div>
                      <div class="services-stack__image">
                        <img class="service-img service-img-s" src="https://dummyimage.com/800x800/4d4d4d/838383" alt="Service/Feature Image">
                        <img class="service-img service-img-m" src="https://dummyimage.com/1000x1000/4d4d4d/838383" alt="Service/Feature Image">
                      </div>
                    </div>
                  </div>
                  <!-- services stack single item -->
                  <div class="stack-item">
                    <div class="mxd-services-stack__inner radius-dark justify-between bg-base-tint">
                      <div class="mxd-services-stack__controls">
                        <a class="btn btn-round btn-round-large btn-opposite slide-right-up anim-no-delay" href="services.html">
                          <i class="ph ph-arrow-up-right"></i>
                        </a>
                      </div>
                      <div class="mxd-services-stack__title width-60">
                        <h3>Brand<br>identity</h3>
                      </div>
                      <div class="mxd-services-stack__info width-60">
                        <div class="mxd-services-cards__tags">
                          <span class="tag tag-default tag-outline">Brand strategy</span>
                          <span class="tag tag-default tag-outline">Logo design</span>
                          <span class="tag tag-default tag-outline">Guidelines</span>
                          <span class="tag tag-default tag-outline">Rebranding</span>
                        </div>
                        <p>From logo design to comprehensive brand strategies, we ensure your business stands 
                          out with a unique visual identity and consistent messaging across all touchpoints.</p>
                      </div>
                      <div class="services-stack__image">
                        <img class="service-img service-img-s" src="https://dummyimage.com/800x800/4d4d4d/838383" alt="Service/Feature Image">
                        <img class="service-img service-img-m" src="https://dummyimage.com/1000x1000/4d4d4d/838383" alt="Service/Feature Image">
                      </div>
                    </div>
                  </div>
                  <!-- services stack single item -->
                  <div class="stack-item">
                    <div class="mxd-services-stack__inner justify-between bg-base-opp">
                      <div class="mxd-services-stack__controls">
                        <a class="btn btn-round btn-round-large btn-additional slide-right-up anim-no-delay" href="services.html">
                          <i class="ph ph-arrow-up-right"></i>
                        </a>
                      </div>
                      <div class="mxd-services-stack__title width-60">
                        <h3 class="opposite">Digital marketing<br>solutions</h3>
                      </div>
                      <div class="mxd-services-stack__info width-60">
                        <div class="mxd-services-cards__tags">
                          <span class="tag tag-default tag-outline-opposite">Strategy</span>
                          <span class="tag tag-default tag-outline-opposite">Social media</span>
                          <span class="tag tag-default tag-outline-opposite">SEO</span>
                          <span class="tag tag-default tag-outline-opposite">Optimization</span>
                          <span class="tag tag-default tag-outline-opposite">Campaigns</span>
                        </div>
                        <p class="t-opposite">SEO and content marketing, social media management and paid 
                          campaigns - we help you reach and engage your target audience effectively.</p>
                      </div>
                      <div class="services-stack__image">
                        <img class="service-img service-img-s" src="https://dummyimage.com/800x800/4d4d4d/838383" alt="Service/Feature Image">
                        <img class="service-img service-img-m" src="https://dummyimage.com/1000x1000/4d4d4d/838383" alt="Service/Feature Image">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Block - Services/Features Stacking Cards End -->

        </div>
      </div>
      <!-- Section - Services/Features Stacking Cards End -->

      <!-- Section - About Start -->
      <div class="mxd-section padding-default">
        <div class="mxd-container grid-container">
        
          <!-- Block - About Description with Manifest Start -->
          <div class="mxd-block">
            <div class="container-fluid px-0">
              <div class="row gx-0 d-xl-flex justify-content-xl-center">
                <div class="col-12 col-xl-8 mxd-grid-item no-margin">
                  <div class="mxd-block__content">
                    <div class="mxd-block__manifest centered anim-uni-in-up">
                      <p class="mxd-manifest mxd-manifest-l reveal-type">Web design is evolving rapidly, 
                        and I strive to stay ahead. Emerging tools and technologies enable me to create 
                        visually stunning and seamlessly functional websites.</p>
                      <div class="mxd-manifest__controls anim-uni-in-up">
                        <div class="mxd-btngroup centered">
                          <a class="btn btn-anim btn-default btn-accent slide-right-up" href="works-masonry.html">
                            <span class="btn-caption">My Works</span>
                            <i class="ph-bold ph-arrow-up-right"></i>
                          </a>
                          <a class="btn btn-anim btn-default btn-outline slide-down" href="#0">
                            <span class="btn-caption">Download CV</span>
                            <i class="ph-bold ph-arrow-down"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Block - About Description with Manifest End -->

        </div>
      </div>
      <!-- Section - About End -->

      <!-- Section - Parallax Divider Start -->
      <div class="mxd-section padding-pre-title">
        <div class="mxd-container">
          <div class="mxd-container__circle">
            <a class="btn-rotating btn-rotating-blur-outline ver-02" href="contact.html">
              <!-- SVG rotating text -->
              <svg version="1.1" id="scrollDown" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" 
                viewBox="0 0 160 160" style="enable-background:new 0 0 160 160;" xml:space="preserve" 
                class="btn-rotating__text animate-rotation" data-value="360">
                <defs>
                  <path id="textPath" d="M149.7,80c0,38.5-31.2,69.7-69.7,69.7S10.3,118.5,10.3,80S41.5,10.3,80,10.3S149.7,41.5,149.7,80z"/>
                </defs>
                <g>
                  <use xlink:href="#textPath" fill="none"></use>
                  <text>
                    <!-- button text here!!! -->
                    <textPath xlink:href="#textPath">Let's start new project * Let's start new project * </textPath>
                  </text>
                </g>
              </svg>
              <!-- image -->
              <img class="btn-rotating__image" src="https://dummyimage.com/300x300/4d4d4d/838383" alt="Object">
            </a>
          </div>
          <div class="mxd-divider">
            <div class="mxd-divider__image divider-image-6 parallax-img"></div>
          </div>
        </div>
      </div>
      <!-- Section - Parallax Divider End -->

      <!-- Section - Blog Preview Start -->
      <div class="mxd-section padding-blog">
        <div class="mxd-container grid-container">

          <!-- Block - Section Title Start -->
          <div class="mxd-block">
            <div class="mxd-section-title pre-grid">
              <div class="container-fluid p-0">
                <div class="row g-0">
                  <div class="col-12 col-xl-5 mxd-grid-item no-margin">
                    <div class="mxd-section-title__hrtitle">
                      <h2 class="reveal-type anim-uni-in-up">Recent insights</h2>
                    </div>
                  </div>
                  <div class="col-12 col-xl-4 mxd-grid-item no-margin">
                    <div class="mxd-section-title__hrdescr">
                      <p class="anim-uni-in-up">Inspiring ideas, creative insights, and the latest 
                        in design and tech. Fueling innovation for your digital journey.</p>
                    </div>
                  </div>
                  <div class="col-12 col-xl-3 mxd-grid-item no-margin">
                    <div class="mxd-section-title__hrcontrols anim-uni-in-up">
                      <a class="btn btn-anim btn-default btn-outline slide-right-up" href="blog-standard.html">
                        <span class="btn-caption">All Articles</span>
                        <i class="ph-bold ph-arrow-up-right"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Block - Section Title End -->

          <!-- Block - Blog Preview Cards Start -->
          <div class="mxd-block">
            <div class="mxd-blog-preview">
              <div class="container-fluid p-0">
                <div class="row g-0">
                  <!-- item -->
                  <div class="col-12 col-xl-4 mxd-blog-preview__item mxd-grid-item animate-card-3">
                    <a class="mxd-blog-preview__media" href="blog-article.html">
                      <div class="mxd-blog-preview__image blog-preview-image-1 parallax-img-small">
                        <!-- <img class="parallax-img-small" src="img/blog/preview/1000x1250_prv-01.webp" alt="Blog Preview Image"> -->
                      </div>
                      <div class="mxd-preview-hover">
                        <i class="mxd-preview-hover__icon">
                          <img src="img/icons/icon-eye.svg" alt="Eye Icon">
                        </i>
                      </div>
                      <div class="mxd-blog-preview__tags">
                        <span class="tag tag-default tag-permanent">Concept</span>
                        <span class="tag tag-default tag-permanent">Editorial</span>
                      </div>
                    </a>
                    <div class="mxd-blog-preview__data">
                      <a class="anim-uni-in-up" href="blog-article.html"><span>Frontend innovations</span> and user journeys</a>
                    </div>
                  </div>
                  <!-- item -->
                  <div class="col-12 col-xl-4 mxd-blog-preview__item mxd-grid-item animate-card-3">
                    <a class="mxd-blog-preview__media" href="blog-article.html">
                      <div class="mxd-blog-preview__image blog-preview-image-2 parallax-img-small">
                        <!-- <img class="parallax-img-small" src="img/blog/preview/1000x1250_prv-02.webp" alt="Blog Preview Image"> -->
                      </div>
                      <div class="mxd-preview-hover">
                        <i class="mxd-preview-hover__icon">
                          <img src="img/icons/icon-eye.svg" alt="Eye Icon">
                        </i>
                      </div>
                      <div class="mxd-blog-preview__tags">
                        <span class="tag tag-default tag-permanent">UI/UX</span>
                        <span class="tag tag-default tag-permanent">Development</span>
                      </div>
                    </a>
                    <div class="mxd-blog-preview__data">
                      <a class="anim-uni-in-up" href="blog-article.html">Branding in creating <span>digital experiences</span></a>
                    </div>
                  </div>
                  <!-- item -->
                  <div class="col-12 col-xl-4 mxd-blog-preview__item mxd-grid-item animate-card-3">
                    <a class="mxd-blog-preview__media" href="blog-article.html">
                      <div class="mxd-blog-preview__image blog-preview-image-3 parallax-img-small">
                        <!-- <img class="parallax-img-small" src="img/blog/preview/1000x1250_prv-03.webp" alt="Blog Preview Image"> -->
                      </div>
                      <div class="mxd-preview-hover">
                        <i class="mxd-preview-hover__icon">
                          <img src="img/icons/icon-eye.svg" alt="Eye Icon">
                        </i>
                      </div>
                      <div class="mxd-blog-preview__tags">
                        <span class="tag tag-default tag-permanent">News</span>
                        <span class="tag tag-default tag-permanent">AI</span>
                      </div>
                    </a>
                    <div class="mxd-blog-preview__data">
                      <a class="anim-uni-in-up" href="blog-article.html">Elevating <span>digital workshops</span> with engaging design</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Block - Blog Preview Cards End -->

        </div>
      </div>
      <!-- Section - Blog Preview End -->

      <!-- Section - CTA Start -->
      <div class="mxd-section overflow-hidden">
        <div class="mxd-container">

          <!-- Block - CTA Start -->
          <div class="mxd-block">
            <div class="mxd-promo">
              <div class="mxd-promo__inner anim-zoom-out-container">
                <!-- background -->
                <div class="mxd-promo__bg"></div>
                <!-- caption -->
                <div class="mxd-promo__content">
                  <p class="mxd-promo__title anim-uni-in-up">
                    <span class="mxd-promo__icon">
                      <img src="https://dummyimage.com/100x100/838383/5d5d5d" alt="Icon">
                    </span>
                    <span class="mxd-promo__caption reveal-type">Let's talk about your project!</span>
                  </p>
                  <div class="mxd-promo__controls anim-uni-in-up">
                    <a class="btn btn-anim btn-default btn-large btn-additional slide-right-up" href="contact.html">
                      <span class="btn-caption">Contact Me</span>
                      <i class="ph-bold ph-arrow-up-right"></i>
                    </a>
                  </div>
                </div>
                <!-- parallax images -->
                <div class="mxd-promo__images">
                  <img class="promo-image promo-image-1" src="https://dummyimage.com/600x600/5d5d5d/838383" alt="Image">
                  <img class="promo-image promo-image-2" src="https://dummyimage.com/300x300/5d5d5d/838383" alt="Image">
                </div>
              </div>
            </div>
          </div>
          <!-- Block - CTA End -->

        </div>
      </div>
      <!-- Section - CTA End -->

    </main>
    <!-- Page Content End -->
{% endblock %}