{% extends 'base/base.html' %}
{% load static %}

{% block title %}Andrey Egorov - Full-Stack Developer & Data Analyst | Portfolio{% endblock %}

{% block content %}

  {% include 'mainpage/hero.html' %}
  {% include 'mainpage/projects.html' %}
  {% include 'mainpage/marquee.html' %}
  {% include 'mainpage/services.html' %}
  {% include 'mainpage/about.html' %}
  {% include 'mainpage/divider.html' %}
  {% include 'mainpage/blog.html' %}
  {% include 'mainpage/cta.html' %}
{% endblock %}

{% block extra_js %}
<script>
document.addEventListener('DOMContentLoaded', function() {
  const statsCounter1 = new countUp.CountUp("stats-counter-1", 3, optionsPlus);
  const statsCounter2 = new countUp.CountUp("stats-counter-2", 70, optionsPlus);
  statsCounter1.start();
  statsCounter2.start();
});
</script>
{% endblock %}